<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOGS" value="./build/logs" />
	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %-50logger{35} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="File"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/RMS-logs.log</file>
		<encoder>
			<pattern>%d [%thread] %-5level %-50logger{35} - %msg%n</pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOGS}/Surcharge-logs-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>5MB</maxFileSize>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
	</appender>
	<root level="INFO">
		<appender-ref ref="Console" />
		<appender-ref ref="File" />
	</root>
</configuration>